<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Administration!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {# Bootstrap #}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        {# Font Awesome #}
        <link rel="stylesheet" href="{{ asset('fontAwesome/css/all.css') }}">
        {# Custom Style #}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {# Bootstrap JS #}
        <script rel="script" src="{{ asset('js/bootstrap.bundle.js') }}"></script>
        {# Font Awesome JS #}
        <script rel="script" src="{{ asset('fontAwesome/js/all.js') }}"></script>
    {% endblock %}
</head>
<body>
<div class="container-fluid">
{% block sidenav %}
    {% include 'admin/parts/sidenav.html.twig' %}
{% endblock %}

    <div class="col-10">
        <header class="py-3 mb-3 border-bottom headerAdmin">
            <div class="container-fluid d-flex align-items-center justify-content-end">
                <div class="row">
                    <h4 class="col-10">Bienvenue, M. Capard</h4>
                    <div class="flex-shrink-0 dropdown col-2">
                        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{{ asset('images/verynoise.png') }}" alt="mdo" class="rounded-circle" width="32"
                                 height="32">
                        </a>
                        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                            <li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        {% block body %}
        {% endblock %}
    </div>
</div>
</body>
</html>
